.video-container {
    display: flex;
    transition: 1s all ease-out;
}

.author-logo img {
    width: 40px;
    border-radius: 100%;
    height: 40px;
    object-fit: cover;
}

.video-content {
    margin: 10px 8px;
    width: min-content;
}

.video-box iframe {
    border-radius: 15px;
}

iframe:hover {
    border-radius: 15px 15px 0 0;
}


.video-content:hover {
    transform: scale(1.2);
    /* border: 1px solid #000; */
    box-shadow: rgb(9 30 66 / 10%) 0px 0.5rem 1rem 0px;;
    background-color: #fff;
    border-radius: 15px;
    height: 350px;
}

.content-details {
    margin-left: 5px;
    line-height: 25px;
}

.content-details h3 {
    font-size: 14px;
    line-height: 20px;
}

.author-views {
    line-height: 15px;
    font-size: 12px;
}

.hidden {
    display: none;
}

.hidden:hover {
    display: block;
}

.time {
    font-size: 12px;
    position: absolute;
    top: 280px;
    left: 350px;
    color: #fff;
    background-color: #00000091;
    width: 50px;
    border-radius: 3px;
    padding: 3px;
    text-align: center;
}

.reels-con {
    display: flex;
}

.reels-con {
    display: flex;
    border-top: 2px solid #b3b0b0;
    border-bottom: 2px solid #b3b0b0;
    padding: 20px 0;
}

.reel-box iframe {
    width: 206px;
    height: 500px;
    border-radius: 15px;
}

@media screen and (min-width: 1440px ){
  .vid-frame {
    width: 300px
  }

  .reel-box iframe {
    width: 235px;
  }

  
}
@media screen and (max-width: 480px){
    .vid-frame {
        width: 100%;
        height: 600px;
    }

    .video-content {
        width: 100%;
    }

    .video-content:hover {
        display: none;
    }
    
    
    .video-container{
        display: grid;
        grid-template-columns: auto;
    }

    .author-logo img {
        width: 85px;
        height: 85px;
    }


    .content-details h3 {
        font-size: 28px;
        line-height: 50px;
    }

    .author-views {
        line-height: 28px;
        font-size: 24px;
    }

    .reels {
        display: flex;
    }

    .reel-box iframe {
        width: 200px;
        height: 500px;
        border-radius: 15px;
    }

}